@(authInfo: xml.Elem, cmd: String, state: xml.Elem, output: String, running: Boolean)

@main(authInfo){
	<h3>Ad-hoc test</h3>
	@if(!running){
		<form action="run-adhoc" class="pure-form" method="POST">
			<input name="cmd" size="50" placehodler="ad-hoc command" required>
			<button type="submit" class="pure-button pure-button-primary">Run</button>
		</form>
	}
	<h3>@cmd</h3>
	<form action="kill-adhoc" method="POST">
		@state
		@if(running){
			<button type="submit">Kill</button>
		}
	</form>
	<pre>@output</pre>
}





