@(jobs: xml.Elem)

<!DOCTYPE html>

<html>
<head>
<title>KKQuartz</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
<link rel="stylesheet" href="assets/stylesheets/main.css">
<link rel="shortcut icon" type="image/png" href="assets/images/quartz.png">
</head>
<body>
	<h1><a href="/">KKQuartz</a></h1>
	<h3>Scheduled jobs:</h3>
	@jobs
	<h3>Create new job:</h3>
	<form id="add-job-form" action="add" class="pure-form pure-form-stacked" method="POST">	
		Job name (only allow "a-zA-Z_0-9" and "-")
		<input name="id" type="text" pattern="[\w-]+" required>
		
		Email
		<input name="email" type="email" required>
		
		Command (ex. "ssh -i myhome/xxx.pem user@@server 'command'")
		<input name="cmd" size="50" required>
		
		<a href="http://quartz-scheduler.org/api/2.1.0/org/quartz/CronExpression.html" target="_blank">Cron expression</a>
		(ex. "0/15 * * * * ?" for every 15 seconds)
		<input name="cron" type="text" required>
		
		<label class="pure-checkbox">
			<input name="error-only" type="checkbox" value="true" checked> Only send email when error (exit value != 0)
		</label>
		
		<button type="submit" class="pure-button pure-button-primary">Create</button>
	</form>
	<h3><a href="adhoc">Ad-hoc test</a></h3>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="assets/javascripts/main.js"></script>
</body>
</html>





